{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% load bootstrap_tags %}

{% block content %}
<div class="px-3 pt-5 form-bg">
    <form method="POST">
        <h4 class="text-center mb-3">Please enter your email</h4>
      
        {% csrf_token %}

        {{ form.email.errors }}

        <p>
            <label for="id_email">Email address:</label>
            {{form.email}}
            <button class="btn btn-primary">Reset password</button>
        </p>

    </form>
    
</div>
{% endblock %}