{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="px-3 pt-5 pb-5 form-bg">
    <form method="POST">
        <h4 class="heading-orange pt-5 text-center font-weight-bold mb-3">Forgot the password?</h4>
        <p> To reset your password enter your email address. In a few minutes you'll receive
            an email with additional instructions for resetting your password. The email will be sent to your registered
            email address.</p>

        {% csrf_token %}
        {{ form.email.errors }}
        <p>
            {{form.email | as_crispy_field}}
            <div class="row  d-flex justify-content-center">
                <button class="btn btn-orange">Reset password</button>
            </div>
        </p>
    </form>
</div>
{% endblock %}