{% extends 'base.html' %}

{% block page_title %}Password Reset Done{% endblock %}

{% load bootstrap_tags %}

{% block content %}
<article class="pt-5 px-2 password-reset-info">
    <h4 class="heading-orange pt-5 text-center font-weight-bold mb-3">Password reset sent</h4>
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.

        If you don't receive an email, please make sure you've entered the address you registered with, and check your
        spam folder.</p>

    <p><a href="{% url 'login' %}">Click here to login</a></p>
</article>
{% endblock %}