{% extends 'base.html' %}

{% block page_title %}Password Reset confirm{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}

<div class="px-3 pt-5 form-bg ">
    <h4 class="heading-info pt-5 text-center font-weight-bold mb-3">Please enter your new password twice so we can verify you typed it in correctly.
    </h4>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.new_password1.errors %}
        {{ form.new_password1.errors | as_crispy_field}}
        {% endif %}
        <p class="aligned wide">
            {{ form.new_password1 | as_crispy_field}}</p>

        {% if form.new_password2.errors %}
        {{ form.new_password2.errors | as_crispy_field}}
        {% endif %}
        <p class="aligned wide">
            {{ form.new_password2 | as_crispy_field}}</p>
            <div class="row  d-flex justify-content-center">
        <p><input class=" btn btn-reset" type="submit" value="Change my password" /></p>
    </div>
    </form>
</div>
{% else %}

<div class="pt-5 px-2 password-reset-info">
    <h4 class="text-center mb-3">Password reset unsuccessful</h4>

    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
        reset.</p>
</div>
{% endif %}
</div>
{% endblock %}