{% extends 'base.html' %}
{% load static from staticfiles %}
{%  load bootstrap_tags %}

{% block page_title %}Boat details{% endblock %}

{% block content %}

<!--container addin top padding to content-->

<div class="m-auto px-3 pb-5 top-padding-container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <!--headings Model and Price -->
            <hgroup>
                <h1 class="text-uppercase text-center">{{ boat.model }}</h1>
                <h2 class="text-center">&#8364 {{ boat.price }}/day</h2>
            </hgroup>
        </div>
        <div class="col-md-6 mb-3">
            <!-- boat details-->
            <h3 class="text-center text-uppercase">Delails:</h3>
            <div class="row py-3 d-flex justify-content-center details">
                <span class="pr-3"><span class="font-weight-bold">Type:</span> {{ boat.boatType }}</span>
                <span class="pr-3"><span class="font-weight-bold">Lenght: </span>{{ boat.lenght }}</span>
                <span class="pr-3"><span class="font-weight-bold">Guests: </span>{{ boat.maxPassangers }}</span>
                <span class="pr-3"><span class="font-weight-bold">Cabins: </span>{{ boat.cabins }}</span>
                <span class="pr-3"><span class="font-weight-bold">Built date: </span>{{boat.builtDate}}</span>
            </div>
        </div>
    </div> <!--end row model and details-->
    <div class="row">
        <div class="col-md-6">
            <!--boat image-->
            <img class="card-img-top img-thumbnail image-fluid img-details" src="{{ MEDIA_URL }}{{ boat.image }}" alt="boat image">
        </div>
        <div class="col-md-6">
            <table class="table table-responsive-sm mb-5">
                <thead>
                    <tr>
                        <th class="month text-center h4" colspan="7">February</th>
                    </tr>
                    <tr class="weekdays text-center">
                        <th scope="col">Mon</th>
                        <th scope="col">Tues</th>
                        <th scope="col">Wedn</th>
                        <th scope="col">Thur</th>
                        <th scope="col">Frid</th>
                        <th scope="col">Sat</th>
                        <th scope="col">Sun</th>
                    </tr>
                </thead>
                <tbody id="calendar">
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>
            <div class="row d-flex justify-content-center">
                <!-- rent dates picker -->
                <form method="post" action="{% url 'add_to_cart' boat.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="startDay" type="date" name="startDay" style="display: none;">
                        <input id="endDay" type="date" name="endDay" style="display: none;">
                        <span class="input-group-btn">
                            <button class="btn btn-orange btn-lg px-4" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div><!--end calendar-->
    </div> <!--end row image and calendar-->
</div><!--end main container-->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'js/calendar_selector.js' %}"></script>
{% endblock %}