{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block page_title %}Search boat{% endblock %}

{% block content %}
<div class="container top-padding-container">
    <!-- search section -->
    <form class="pt-md-5">
        {{ search_form.non_field_errors }}
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-md-3 active-navy px-3 mb-3 mx-md-3">
                {{ search_form.search_name|as_crispy_field}}
            </div>
            <div class="col-md-3 mx-md-3">
                <div class="row px-3 mb-3 active-navy">
                    <div class="col-md-5 px-0">
                        <span class="font-weight-bold">Min Guests:</span>
                    </div>
                    <div class="col-md-7 px-0">
                        {{ search_form.min_passangers|as_crispy_field}}
                    </div>
                </div>
                <div class="row px-3 mb-3 active-navy">
                    <div class="col-md-5 px-0">
                        <span class="font-weight-bold">Min Cabins:</span>
                    </div>
                    <div class="col-md-7 px-0">
                        {{ search_form.min_cabins|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 form-check ml-3 mx-md-3">
                <div class="row px-3 mb-3">
                    {{ search_form.include_sailboat|as_crispy_field}}
                    <label class="form-check-label" for="defaultCheck1">
                        Sailboat
                    </label>
                </div>
                <div class="row px-3 mb-3">
                    {{ search_form.include_powerboat|as_crispy_field}}<label class="form-check-label" for="defaultCheck1">
                        Powerboat
                    </label>
                </div>
                <div class="row px-3 mb-3">
                    {{ search_form.include_catamaran|as_crispy_field}}<label class="form-check-label" for="defaultCheck1">
                        Catamaran
                    </label>
                </div>
                <div class="row px-3 mb-3">
                    {{ search_form.include_motoryacht|as_crispy_field}}<label class="form-check-label" for="defaultCheck1">
                        Motor Yacht
                    </label>
                </div>
                <input type="hidden" value="True" name="searched">
            </div>
            <button type="submit" class="btn btn-lg btn-search btn-orange">SEARCH</button>  
    </form>
</div>
<!--end search section-->
<hr>
<div class="row d-flex justify-content-center">
    <!-- boat cards with link to card details-->
    {% for boat in boats %}
    <div class="card card-item shadow mr-md-2 mb-4" style="width: 23rem;">
        <a href="{% url 'boat_details' boat_id=boat.id%}" class="link-card-boat">
            <img class="img-responsive image-fluid" src="{{ MEDIA_URL }}{{ boat.image }}" alt="boat image">
            <div class="card-body text-center">
                <h4 class="card-title text-uppercase heading-orange">{{ boat.model }}</h4>
                <h4 class="price font-weight-bold heading-orange">&#8364
                    {{ boat.price }}/day</h4>
            </div>
        </a>
    </div>
    <!--end div card-->
    {% endfor %}
</div><!-- end row -->
</div><!-- end container -->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}
