{% extends 'base.html' %}
{% load static from staticfiles %}
{%  load bootstrap_tags %}

{% block page_title %}Boat details{% endblock %}

{% block content %}

<!--container addin top padding to content-->

<div class="m-auto px-3 pb-5 top-padding-container">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <!--headings Model and Price -->
            <hgroup>
                <h1 class="text-uppercase text-center">{{ boat.model }}</h1>
                <h2 class="text-center">&#8364 {{ boat.price }}/day</h2>
            </hgroup>
        </div>
        <div class="col-lg-6 mb-3">
            <!-- boat details-->
            <h3 class="text-center text-uppercase">Details:</h3>
            <div class="row py-3 d-flex justify-content-center details">
                <span class="pr-3"><span class="font-weight-bold">Type:</span> {{ boat.boatType }}</span>
                <span class="pr-3"><span class="font-weight-bold">Length: </span>{{ boat.lenght }}</span>
                <span class="pr-3"><span class="font-weight-bold">Guests: </span>{{ boat.maxPassangers }}</span>
                <span class="pr-3"><span class="font-weight-bold">Cabins: </span>{{ boat.cabins }}</span>
                <span class="pr-3"><span class="font-weight-bold">Built date: </span>{{boat.builtDate}}</span>
            </div>
        </div>
    </div><!--end row model and details-->
    
    <div class="row">
        <!----boat image---->
        <div class="col-lg-6 mb-2">
            
            <img class="card-img-top img-thumbnail image-fluid img-details" src="{{ MEDIA_URL }}{{ boat.image }}"
                alt="boat image">
        </div>

        <!----calendar ----->
        <div class="col-lg-6">
            <table class="table table-responsive-sm mb-5">
                <thead>
                    <tr>
                        <th class="month text-center h4" colspan="7"></th>
                    </tr>
                    <tr class="weekdays text-center">
                        <th scope="col">Mon</th>
                        <th scope="col">Tues</th>
                        <th scope="col">Wedn</th>
                        <th scope="col">Thur</th>
                        <th scope="col">Frid</th>
                        <th scope="col">Sat</th>
                        <th scope="col">Sun</th>
                    </tr>
                </thead>
                <tbody id="calendar">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="row d-flex justify-content-center">
                <!-- rent dates picker -->
                <form method="post" action="{% url 'add_to_cart' boat.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="startDay" type="date" name="startDay" style="display: none;">
                        <input id="endDay" type="date" name="endDay" style="display: none;">
                        <span class="input-group-btn">
                            <button class="btn btn-orange btn-lg px-4" type="button"><i
                                    class="py-1 fas fa-arrow-left"></i></button>
                            <button class="btn btn-orange btn-lg px-4" type="submit">Add</button>
                            <button class="btn btn-orange btn-lg px-4" type="button"><i
                                    class="py-1 fas fa-arrow-right"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div><!--end calendar--> 
    </div>  <!--end row image and calendar-->
  
    <section>
        <h3 class="text-uppercase heading-orange text-center mt-5">Comments:</h3>
        {% for comment in comments %}
        <div class="card comment_card mb-2">
            <div class="card-header">
                <div>
                    {% for _ in comment.stars %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}

                    {% for _ in comment.stars_missing %}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="comment_username font-weight-bold">{{comment.username}}</p>
                    <p class="comment_text">{{comment.commentText}}</p>
                    <em class="comment_date float-right">{{comment.date}}</em>
                </blockquote>
            </div>
        </div>
    </section>
    {%  endfor%}
</div><!--end main container-->

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'js/calendar_selector.js' %}"></script>
{% endblock %}