{% extends 'base.html' %}

{% block page_title %}Search boat{% endblock %}

{% block content %}
<div class="container top-padding-container">
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-3 active-navy px-3 mb-3 mx-md-3">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-md-3 mx-md-3">
            <div class="row px-3 mb-3 active-navy">
                <div class="col-md-5 px-0">
                    <span class="font-weight-bold">Min Guests:</span>
                </div>
                <div class="col-md-7 px-0"><input type="text" class="form-control" placeholder="Min Guests"></div>
            </div>
            <div class="row px-3 mb-3 active-navy">
                <div class="col-md-5 px-0">
                    <span class="font-weight-bold">Min Cabins:</span>
                </div>
                <div class="col-md-7 px-0">
                    <input type="text" class="form-control" placeholder="Min Cabin">
                </div>
            </div>
        </div>
        <div class="col-md-3 form-check ml-3 mx-md-3">
            <div class="row px-3 mb-3">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Sailboat
                </label>
            </div>
            <div class="row px-3 mb-3">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Powerboat
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="row d-flex justify-content-center">
        <!-- boat cards with link to card details-->
        {% for boat in boats %}
        <div class="card card-item shadow mr-md-2 mb-4" style="width: 23rem;">
            <a href="{% url 'boat_details' boat_id=boat.id%}" class="link-card-boat">
                <img class="img-responsive image-fluid" src="{{ MEDIA_URL }}{{ boat.image }}" alt="boat image">
                <div class="card-body text-center">
                    <h4 class="card-title text-uppercase heading-orange">{{ boat.model }}</h4>
                    <h4 class="price font-weight-bold heading-orange">&#8364
                        {{ boat.price }}/day</h4>
                </div>
            </a>
        </div>
        <!--end div card-->
        {% endfor %}
    </div><!-- end row -->
</div><!-- end container -->

{% endblock %}