@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Maven+Pro|Montserrat|Roboto&display=swap");
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
}

.top-padding-container {
  padding-top: 5em;
}

.heading-orange {
  color: #eb5e1c;
}

.messages_alert{
  padding-top:1rem;
}

/* navbar and footer styling */
nav,
footer {
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  font-weight: 100;
  background-color: #272743;
  color: #fafafa;
  letter-spacing: 1px;
}
.nav-heading {
  padding-top: 0.5em;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
}
.nav-link {
  color: #fafafa;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.nav-link:hover {
  letter-spacing: 2px;
  color: #fafafa;
}
.nav_item ::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  transition: width 0.3s;
}
.nav_item :hover::after {
  width: 100%;
}
.navbar-toggler {
  color: #fafafa;
}
.footer-copyright {
  margin: 0;
  background-color: #1f1f35;
}


/* Home page styles */
.jumbotron {
  min-height: 35em;
  margin: 0;
  background-image: url("../images/jumbotron.jpg");
  color: #272743;
}
.jumbothron-text-background{
  background-color: rgba(255, 255, 255, 0.4);
}
.icon-home-page {
  padding-bottom: 0.3em;
  font-size: 5em;
  color: #eb5e1c;
}
.space {
  width: 70%;
  margin: auto;
  border-top: solid 1.5px rgba(0, 0, 0, 0.5);
}
.references {
  padding-top: 8em;
  padding-bottom: 5em;
  min-height: 30em;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)),
    url("../images/boats.jpg") no-repeat fixed bottom;
  background-color: blue;
  background-size: cover;
  background-size: cover;
}
.references-content {
  width: 90%;
  background-color: #fafafa;
}
.checked {
  color: orange; /* rating stars color */
}
.img-avatar {
  border-radius: 50%;
}
a:link,
a:visited {
  text-decoration: none;
}
a.link-card-boat{
  color: #ff8652;
}

/* boats - cards and detailed view styles */
.active-navy input[type="text"]:focus:not([readonly]) {
  border: 1px solid #272743;
  box-shadow: 0 0 0 1.3px #272743;
}
.active-navy input[type="number"]:focus:not([readonly]) {
  border: 1px solid #272743;
  box-shadow: 0 0 0 1.3px #272743;
}
.card-item {
  width: 23rem;
  transition: all 0.5s ease;
  transform: scale(1);
}
.card-item:hover {
  transform: scale(1.02);
}
.img-responsive {
  width: 100%;
  height: 16rem;
}
.img-details {
  height: 18rem;
}
.details {
  font-size: 1.3rem;
}


/* styling calendar */
.table {
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
}
.month {
  background-color: #272743;
  color: #fafafa;
}
.table th.month {
  padding: 3rem 0;
}
.weekdays {
  background-color: #ddd;
}
.table td {
  border: 1px solid grey;
  background-color: #ff8652;
}
.available {
  background-color: #6da06f !important;
}
.available.selected {
  background-color: #79a7d3 !important;
}
.before_today {
  background-color: #6da06f !important;
  opacity: 0.2;
}
.not_in_month {
  border: none !important;
  background-color: #ffffff !important;
  opacity: 0;
}


/* boat comments */
.comment_username{
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  color:#eb5e1c;
}
.comment_text{
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
.comment_date{
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}


/* Forms login, sign up, password resetstyles */

.password-reset-info {
  width: 50%;
  margin: auto;
}
.btn-signup {
  /* Sign up button in navbar */
  color: #fafafa;
  max-width: 8em;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.btn-signup:hover {
  color: #fafafa;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}
.btn-checkout {
  /* Checkout button */
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  letter-spacing: 1.5px;
  color: #fafafa;
  width: 10rem;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: #272743;
  transition: all 0.3s ease 0s;
}
.btn-checkout:hover {
  color: #fafafa;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191);
}
.btn-times {
  /* remove item from card */
  outline: none;
  border: none;
  background-color: transparent;
}
.btn-orange {
  color: #fafafa;
  background-color: #eb5e1c;
}


/* checkout styles */

.total {
  color: #eb5e1c;
  font-size: 1.5rem;
}
#remove-cart-item {
  font-size: 1.5rem;
}
.image-orders {
  width: 10rem;
  height: 6rem;
}
.image-hist {
  width: 12rem;
  height: 8rem;
}
.image-cart {
  width: 23rem;
  height: 14rem;
}
.table td.shopping-hist,
th.shopping-hist {
  border: 1px solid #dee2e6;
}

/* media responsive design */
@media (max-width: 767px) {

}
@media (min-width: 768px) {
  .card-item {
    width: 21rem;
  }
  .form-bg {
    width: 50%;
    margin: auto;
  }
  .references-content {
    width: 75%;
  }
  .img-details {
    height: 30rem;
  }
  .btn-search {
    width: 7rem;
    height: 4rem;
  }
  .comment_card{
    width: 75%;
    margin:auto;
  }
}
@media (min-width: 992px) {
}

@media (min-width: 1050px) {
}
