{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block javascripts %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container checkout-container px-0">
    <div class="row">
        <div class="col-md-4 py-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase font-weight-bold heading-checkout">cart summary</h5>
                    <hr>
                    {% for item in cart_items %}
                    <div class="row">
                        <div class="col-6">
                        <img class=" img-thumbnail image-fluid" src="{{ MEDIA_URL }}{{ item.boat.image }}"
                            alt="boat image">
                        </div>
                        <div class="col-6">
                            <h5 class="font-weight-bold">{{ item.boat.model }}</h5>
                            <p>Number of days: {{ item.quantity }}</p>
                            <p>Subtotal: &#8364 {{ item.value }}</p>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <h5 class="heading-checkout text-uppercase font-weight-bold">Total:</h5>
                        <h5 class="font-weight-bold">&#8364 {{ total }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}" class="py-5">
                <div class="row">
                    <div class="col-md-7 pr-md-1 pl-md-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold heading-checkout">payment details
                                </h5>
                                <hr>
                                <div class="form-group">
                                    {{ order_form | crispy }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pr-md-1 pl-md-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold heading-checkout">card details
                                </h5>
                                <hr>
                                <img class="card-img-top img-thumbnail image-fluid"
                                    src="{% static 'images/creditcard.jpg' %}" alt="credit card">
                                <div class="form-group">
                                    {{ payment_form | crispy }}
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="form-group col-md-12 d-flex justify-content-center">
                                <input class=" btn btn-pay" id="submit_payment_btn" name="commit" type="submit"
                                    value="Submit Payment">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="credit-card-errors" style="display: none;">
                    <div id="alert-message block-message error" id="stripe-error-message"></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}