{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home Page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
<div class="jumbotron jubotron-image">
  <div class="container">
    <h3 class="display-4 jumbotron-text">Your adventure starts here!</h3>
    <p class="lead jumbotron-text">Hire luxury boat in best price!</p>
  </div>
</div>
<section>
  <div class="row m-auto d-flex justify-content-center p-5">
    <div class="col-md-3">
      <div class="row d-flex justify-content-center"><i class="icon-home-page fas fa-search"></i></div>
      <div class="row d-flex justify-content-center">
        <h4> SEARCH</h4>
      </div>
      <div class="row d-flex justify-content-center p-1 text-center">
        <p clas="text-center ">Explore our privately owned, worldwide fleet.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row d-flex justify-content-center"><i class="icon-home-page fas far fa-calendar"></i></div>
      <div class="row d-flex justify-content-center">
        <h4> BOOK</h4>
      </div>
      <div class="row d-flex justify-content-center p-1 text-center">
        <p clas="text-center p-1">Set your dates for your boating adventure</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row d-flex justify-content-center"><i class="icon-home-page fas fas fa-smile-beam"></i></div>
      <div class="row d-flex justify-content-center">
        <h4> ENJOY</h4>
      </div>
      <div class="row d-flex justify-content-center p-1 text-center">
        <p clas="text-center p-1">Your boat experience begins!</p>
      </div>
    </div>
  </div>
  <div class=" mb-1 space"></div>
</section>

<article>
  <h2 class="text-center py-4 mb-2">FUTURED BOATS</h2>
  <div class="row m-auto d-flex justify-content-center">
    <div class="card mr-md-2" style="width: 18rem;">
      <img src="{% static 'images/Peshing.jpg' %}" class="card-img-top img-responsive" alt="futured boat">
      <div class="card-body">
        <h3 class="card-text text-center">Powerboat </h3>
        <h3 class="card-text text-center">PERSHING 76</h3>
      </div>
    </div>
    <div class="card mr-md-2" style="width: 18rem;">
      <img src="{% static 'images/VPrincess.jpg' %}" class="card-img-top img-responsive" alt="futured boat">
      <div class="card-body">
        <h3 class="card-text text-center">Motorboat</h3>
        <h3 class="card-text text-center">PRINCESS V58</h3>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/SailYachtHanse.jpg' %}" class="card-img-top img-responsive" alt="futured boat">
      <div class="card-body">
        <h3 class="card-text text-center">Sailboat</h3>
        <h3 class="card-text text-center">HANSE</h3>
      </div>
    </div>
  </div>
</article>
<aside class="references mt-5">
  <div class="references-content p-3 m-auto">
    <h2 class="text-center pb-2">REFERENCES</h2>
    <div class="row m-auto d-flex justify-content-center">
      <div class="card mr-md-2" style="width: 18rem;">
        <img src="{% static 'images/avatar1.png' %}" class="card-img-top img-avatar" alt="avatar">
        <div class="card-body">
          <div class="row d-flex justify-content-center m-2">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="card-text">The condition of the boat was exactly as advertised and met our expectation. Sailed close
            to Howt with a great wind and current directly from the straight, so we had a good lift. Thank you for the
            great experience and opportunity to charter with your company.</p>
        </div>
      </div>
      <div class="card mr-md-2" style="width: 18rem;">
        <img src="{% static 'images/avatar2.png' %}" class="card-img-top img-avatar" alt="avatar">
        <div class="card-body">
          <div class="row d-flex justify-content-center m-2">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
          <p class="card-text">Excellent yacht. Would recommend. The yacht was like it was brand new and was spotlessly
            clean, everything worked and was great to sail. Will hire again.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/avatar3.png' %}" class="card-img-top img-avatar" alt="avatar">
        <div class="card-body">
          <div class="row d-flex justify-content-center m-2">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
          <p class="card-text">Such a fun day on the harbour. The guys did everything as soon as we were onboard and we
            could just relax. We had a BBQ on board and a beautiful swim at a private beach. Would definitely go again!
          </p>
        </div>
      </div>
    </div>
</aside>





{% endblock %}