{% extends 'base.html' %}
{% load static from staticfiles %}
{%  load bootstrap_tags %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block content %}
<div class="top-padding-container container pb-5">
    <h3 class="py-3 text-uppercase font-weight-bold heading-orange">Order history</h3>
    <div class="row m-auto">
        <table class="table table-responsive-xs table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Order date</th>
                    <th scope="col">Boat</th>
                    <th scope="col">Rent date</th>
                    <th scope="col">Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for item in orders %}
                <tr>
                    <th class="bg-light shopping-hist" scope="row">111000000</th>
                    <td class="bg-light shopping-hist py-2">
                        <figure">
                            <figcaption class="font-weight-bold mx-5 pb-2">{{ item.boat.model }}</figcaption>
                            <img class="image-hist img-thumbnail" src="{{ MEDIA_URL }}{{ item.boat.image }}"
                                alt="boat image">
                            </figure>
                    </td>
                    <td class="font-weight-bold bg-light shopping-hist">{{ item.quantity }}</td>
                    <td class="font-weight-bold bg-light shopping-hist">
                        <p>&#8364 {{ item.subtotal }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--end row-->
</div>
<!--end container-->
{% endblock %}