{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Sign Up page{% endblock %}
{% block page_heading %}Sign Up{% endblock %}

{% block content %}
<div class="px-3 pt-3 form-bg">
    <h5 class="pb-5 text-center">If you already have an account, you can <a href="{% url 'login' %}">Login</a></h5>
    <h4 class=" heading-info text-center mb-3">Sing up with your email address </h4>
    <form method="POST">
        {% csrf_token %}
        {{ registration_form | crispy }}
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>
{% endblock %}