{% extends 'base.html' %}

{% block page_title %}Terms&Condititions{% endblock %}

{% load bootstrap_tags %}

{% block content %}


<article class="terms-container mx-4 mx-md-5 text-justify">
    <h3 class="text-center heading-terms pt-5">General Terms and Conditions</h3>
<article class="top-padding-container mx-4 mx-md-5 text-justify">
    <h3 class="text-center heading-orange pt-5">General Terms and Conditions</h3>
    <p> The Owner ('the Owner”) is owner of the yacht. This means that
        your contract is always entered into directly with the Owner. This is a similar
        relationship that you may have with a travel agent, who acts as an agent for an airline or hotel. We are
        entitled to issue charter contracts for all our Owners and also to receive payments on their behalf. All
        specifications and other information given by us are provided in good faith and with the authority of the Owner
        or their duly authorised representative. On the charter of a yacht the specifications and pictures provided by
        us are supplied in good faith and with the knowledge of the Owner or the Owner’s duly authorised representative.
        We give no warranty or guarantee as to the accuracy of any information supplied or as to the physical or
        mechanical condition of any yacht chartered or as to the competence of our principals or their representatives
        abroad.</p>
    <h4>The Booking Process</h4>
    <p>When you notify your broker that you would like to charter a yacht, you will be asked to sign the Charter
        Agreement (either on paper or on our secure online site) and make the requested payment (normally 50% of the
        total charter fee) to Boatbookings. The balance of the price is normally payable 6 weeks before embarkation, and
        the person signing the Charter Agreement guarantees payment on behalf of all those for whom the booking has been
        made. If the total payment is not received by then, we shall be entitled to cancel the charter. Should you book
        less than 6 weeks before departure then the full price of the charter is payable upon booking.
    </p>
    <h4>Changes to your Booking</h4>
    <p>Boatbookings will always try to arrange alterations, such as extensions or date changes, that you may request
        after the Charter Agreement is formed but may have to charge an administration fee. If no alternative can be
        arranged the original Agreement is legally binding and will stand.
    </p>
    <h4>Pricing, Exchange Rate and Government Fee Changes</h4>
    <p>We reserve the right to vary the price of any charter should we consider it necessary through a fluctuation in
        exchange rates or changes in taxes or other government fees, although no changes will be made within 30 days of
        departure. Only increased costs caused by government action will be passed on after this time.
    </p>
    <h4>Cancellation</h4>
    <p>All cancellations must be made in writing and received prior to the departure date and will be effective on the
        date it is received by us. The cancellation charges are payable as follows:
    </p>
    <p>Up to 10 weeks before departure - forfeit of deposit only,
    </p>
    <p>10-8 weeks before departure - forfeit of 75% of total price,
    </p>
    <p>Less than 8 weeks before departure - forfeit of total price.
    </p>
    <p>We will also charge a cancellation admin fee of €50.
    </p>
    <h4>Insurance</h4>
    <p>We don't offer travel or cancellation insurance, but we recommend that you take out a policy to help protect you
        in case circumstances change. You may want to read more about insurance here.
    </p>
    <h4>Bareboat Qualifications</h4>
    <p>In order to charter a bareboat yacht, most countries require a licence permit, certificate of competence or a
        letter from a recognised Yacht Club certifying the competence of at least the Skipper and sometimes one other
        member of the crew. Your broker will be let you know the specific requirements in your charter area. The Yacht
        Owner reserves the right to place a skipper on the Charter Yacht, at the cost of the client, if they deem your
        qualifications to be insufficient and that there is a risk of damage to the yacht or endangerment of the
        passengers.
    </p>
    <h4>Our Responsibility</h4>
    <p>We do not accept responsibility for any loss or damages caused to you as a result of the negligence or default of
        ourselves or any persons directly employed by us. The provision of this charter involves independent parties who
        are neither employed by us or under our direct control such as airlines, yacht owners, travel operators and
        handling agents. Moreover, the charter may unfortunately be disrupted by 'force majeure” events such as fire,
        floods, storms or political unrest.
    </p>
    <p>The agreement is entered into on the mutual understanding that we will not be responsible for loss or damage
        including inconvenience or disruptions caused by the acts or defaults of independent parties, or by 'force
        majeure” events including the following:
    </p>
    <p>Travel - we accept no responsibility for and shall not be liable for any reasons of delay or cancellation of any
        flights, trains or ferries or any loss, damage or inconvenience, frustration, annoyance and disappointment,
        distress consequent thereon whether caused by the fault of a carrier concerned or by reasons beyond their
        control including strikes or other industrial action by any staff or personnel rationing or unavailability of
        fuel or other necessary supplies.
        Charter yachts - in the very rare event that you are not provided on arrival at your destination with the yacht
        that you have reserved, you will, wherever possible, be given an alternative. Should this be significantly
        inferior to that originally reserved, we will take reasonable steps to secure a refund of an appropriate part of
        the charter price. In no circumstances will Boatbookings be liable to repay you any monies nor shall they be
        under any liability to you in the event that they are unable to secure any payments on your behalf from the
        yacht owner or fleet manager.
    </p>
    <h4>Reserved Rights</h4>
    <p>The Owner reserves the right to withdraw or cancel the yacht at any time prior to departure for reasons of
        serious
        damage to yachts, hostilities, civil strife, strikes, threats of war, closure of airports, terrorist activities
        or any
        other reasons amounting to "force majeure”. In this eventuality, Boatbookings will endeavour to give as much
        notice as
        possible and refund all monies paid less reasonable expenses. We reserve the right on behalf of the Owner to
        make
        alterations to a booking and to substitute services or yachts if required. In the event of such alterations, we
        will
        endeavour to give the client as much notice as possible and to arrange for comparable services or yachts. Any
        alterations do not entitle clients to cancel the charter.</p>
    <h4>Complaints</h4>
    <p>In the rare case that you have a complaint about your charter, you must submit a written complaint to us as soon
        as
        possible after the end of the charter and not later than 28 days after the finish of the charter, after which no
        claim
        can be accepted. The Charterer hereby acknowledges that any dispute or claim arising out of this Yacht Charter
        is
        between the Charterer and the Owner and not with or against Boatbookings. Please note that final jurisdiction
        will
        depend on the detailed provisions set out in the formal Yacht Charter Agreement which is the principal Contract
        between
        you, the client, and the Owner.</p>

    <h4>Damage / Security Deposit</h4>
    <p>When chartering a bareboat yacht, you are liable for any damage to the yacht, its equipment or third party
        damage.
        Assessment of the damage will be made and deducted from the security deposit paid at the beginning of the
        charter. We
        will take reasonable steps on your behalf to arrange for the balance of the deposit to be returned to you as
        soon as
        possible after the charter and usually within 28 days. However, should damage be caused as a result of wilful
        negligence
        by a client or as a result of not obeying the instructions of ourselves or the yacht owner, then you will be
        liable for
        the full amount or replacement. Adults will at all times be responsible for the actions of minors in their
        charge.
    </p>
    <h4>Credit Cards</h4>
    <p>While we normally ask you to pay via bank transfer or deposit directly to our branch account, at times we accept
        Visa
        and MasterCard. Customers choosing to use credit cards may be subject to a credit card handling fee, depending
        on the
        card type and currency. You accept financial responsibility for all transactions made under your name or
        account.

        If you use a credit card to pay for any part of your charter, you agree that in the event of a dispute, the
        claim will
        be under UK jurisdiction using the Alternative Dispute Resolution (ADR) process. As per our Terms and
        Conditions, you
        revoke your right to reverse or cancel the payment made using your credit card, you also revoke your right to
        issue a
        charge back through your credit card for any part of the payment.</p>
</article>
{% endblock %}