{% load staticfiles %}
<html lang="en" class="h-100">

<head>
    <title>{% block page_title %}{% endblock %}</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Luxury Yacht charter, Motor Yacht charter, Sailing yacht" />
    <meta name="keywords" content="luxury, yacht, charter, sailing" />
    <meta name="robots" content="nofolow" />
    <meta http-equiv="author" content="Aleksandra Kula" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    
    </head>

<body>
    <div class="content"> <!--div content used to make footer sticky to the bottom of the page-->
       
        <!--navbar-->
        <nav class="navbar navbar-expand-md fixed-top">
            <h3 class="nav-heading mr-5">Boats Rental</h3>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>

            <!--navbar dropdown / links container -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item-active nav_item mr-2"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item  nav_item mr-2"><a class="nav-link" href="{% url 'boats' %}">Catalog</a></li>
                    <li class="nav-item nav_item mr-2"><a class="nav-link" href="{% url 'terms' %}">Terms &
                            Conditions</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right ml-auto">
                    <!--profile and logout link visible only to logged in users  -->
                    {% if user.is_authenticated %} 
                    <li class="nav-item mr-2"><a class="nav-link" href="{% url 'profile' %}"><i
                                class="far fa-user-circle">
                            </i> My orders</a></li>
                    <li class="nav-item mr-2 nav_item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                   
                    <!-- login and sign up visible only for logout users-->
                    {% else %}
                    <li class="nav-item mr-2 nav_item"><a class="nav-link" href="{% url 'login' %}">Login </a></li>
                    <li class="nav-item btn btn-signup mr-2"><a class="nav-link" href="{% url 'registration' %}">Sign
                            up</a></li>
                    {% endif %}
                    
                    <!--cart -->
                    <li class="nav-item-active mr-2 nav_item">
                        <a class="nav-link" href="{% url 'view_cart' %}">
                            <i class="fas fa-shopping-cart"></i>Cart
                            <!-- badge shows how many item is in cart -->
                            {% if boat_count > 0 %}
                            <label class="badge badge-pill badge-danger">{{ boat_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul> <!--end list of  links -->
            </div> <!-- end navbar dropdown / links container-->
        </nav> <!-- end navbar-->

        <h1>
            {% block page_heading %}Boat rental{% endblock %}
        </h1>


        {% if messages %}
        <div class="alert alert-warning m-0 pt-5 messages_alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <!-- main section  -->
        <main role="main">
            {% block content %}

            {% endblock %}
        </main>
    </div> <!-- end div content --> 

    <!-- footer -->
    <footer class="page-footer font-small mt-auto pt-3">
        <address class="text-center">
            Boat Rental LTD <br>
            Visit us at:Boat@Rental.com<br>
            Box 564, Dublin<br>
            Ireland
        </address>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> AleksandraKula.com</a>
        </div>
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% block javascripts %}
    {% endblock %}
</body>

</html>