{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home Page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
<div class="jumbotron jubotron-image">
  <div class="container">
    <h3 class="display-4 jumbotron-text">Your adventure starts here!</h3>
    <p class="lead jumbotron-text">Hire luxury boat in best price!</p>
  </div>
</div>
<!--div end jumbotron -->

<!-- search, book, enjoy section-->
<section>
  <div class="row m-auto d-flex justify-content-center p-5">
    <div class="col-md-3">
      <div class="row d-flex justify-content-center"><i class="icon-home-page fas fa-search"></i></div>
      <div class="row d-flex justify-content-center">
        <h4> SEARCH</h4>
      </div>
      <div class="row d-flex justify-content-center p-1 text-center">
        <p clas="text-center ">Explore our privately owned, worldwide fleet.</p>
      </div>
    </div> <!-- end search -->
    <div class="col-md-3">
      <div class="row d-flex justify-content-center"><i class="icon-home-page fas far fa-calendar"></i></div>
      <div class="row d-flex justify-content-center">
        <h4> BOOK</h4>
      </div>
      <div class="row d-flex justify-content-center p-1 text-center">
        <p clas="text-center p-1">Set your dates for your boating adventure</p>
      </div>
    </div> <!-- end book -->
    <div class="col-md-3">
      <div class="row d-flex justify-content-center"><i class="icon-home-page fas fas fa-smile-beam"></i></div>
      <div class="row d-flex justify-content-center">
        <h4> ENJOY</h4>
      </div>
      <div class="row d-flex justify-content-center p-1 text-center">
        <p clas="text-center p-1">Your boat experience begins!</p>
      </div>
    </div><!-- end enjoy -->
  </div>
  <!--end row -->
  <div class=" mb-1 space"></div>
  <!--line space between sections-->
</section>
<!--end section-->

<!--  featured boats section-->
<article>
  <h2 class="text-center py-4 mb-2">FEATURED BOATS</h2>
  <div class="row m-auto d-flex justify-content-center">
    {% for boat in featured_boats %}
    <!--featured boat cord-->
    <div class="card shadow card-item mr-md-2" style="width: 21rem;">
      <a href="{% url 'boat_details' boat_id=boat.id%}" class="link-card-boat">
        <img src="{{ MEDIA_URL }}{{ boat.image }}" class="card-img-top img-responsive" alt="featured boat">
        <div class="card-body">
          <h3 class="card-text text-center">{{boat.boatType}}</h3>
          <h3 class="card-text text-center">{{boat.model|upper}}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <!--end row -->
</article><!-- end article -->


<!-- references section -->
<aside class="references mt-5">
  <div class="references-content p-3 m-auto">
    <h2 class="text-center pb-2">REFERENCES</h2>

    <div class="row m-auto d-flex justify-content-center">

      <!-- card references -->
      {% for review in reviews %}
      <div class="card mr-md-2" style="width: 20rem;">
        <img src="{{ MEDIA_URL }}{{ review.image }}" class="card-img-top img-avatar" alt="avatar">
        <div class="card-body">
          <div class="row d-flex justify-content-center m-2">

            {% for _ in review.stars %}
            <span class="fa fa-star checked"></span>
            {% endfor %}

            {% for _ in review.stars_missing %}
            <span class="fa fa-star"></span>
            {% endfor %}

          </div>
          <p class="card-text">{{review.reviewText}}</p>
        </div>
      </div>
      {% endfor %}

    </div> <!-- end row -->
</aside> <!-- end aside -->

{% endblock %}